body{
    background-color: #00000000;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.mobileTop{
    background-color: #00000000;
    position: relative;
}

.mobileContent{
    background-color: #00000000;
    display: flex;
    flex-direction: column;
}

.mTop{
    background-color: #E8E8E1;
    width: 100vw;
    max-height: 20vh;
    display: flex;
    position: sticky;
    top:0;
    left:0;
    flex-direction: column;
    z-index: 4;
}

#topLogo{
    max-height: 20vh;
    max-width: 100%;
    padding:none;
    margin:none;
    z-index: 5;
}

.mTopMenu{
    justify-content: center;
    display: flex;
    background-color: #00000000;
}

.mTopMenuTable, table, tr, td{
    text-align: center;
    width:60vw;
    background-color: #E8E8E1;
}

.mButton{
    background-color: #00000000;
}

.mHomeBG{

}

.mHomeContent{

}

.mStuckImage{
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height:25vh;
    width:100%;
    top: 20vh;
    left:0vh;
    z-index: 0;
}

.mPlaceHolder{
    position:static;
    height:5vh;
    width:100%;
    background-color: #00000000;
}

.mStuckImgFlexbox{
    position: relative;
    background-color: #E8E8E1;
    z-index: 1;
    min-height:100%;
}

.mStuckImgContent{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height:inherit;
}