.basicText{
    justify-content: center;
    min-height: inherit;
    text-align: center;
    width:45vw;
}

.homeBG{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:100vh;
}

.homeContent{
    width:75vw;
    height:60vh;
    text-align: center;
    background-color: #e8e8e0;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menuTable{
    border-collapse: collapse;
}

.menuTable td{
    border: 1px solid;
    padding: 0;
    margin:0;
    margin-top:0;
    font-weight: 400;
}

.menuTable td:hover, .selected{
    background-color:#c8c8c0;
}

.menuTable h4{
    padding: 25px;
    font-weight: 400;
    display:block;
}

.menuTable a{
    padding: 0;
    margin:0;
}

#menuTableHead{
    border: none;
    padding:2vh;
    background-color: #00000000;
}

.catering{
    
}

.cateringForm{
    background-color: #e8e8e0;
    color: red;
}

.contact{

}

.contactSocials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}