body{
    background-color: #000080;
    color: black;
    
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.veryTop{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.mobileTop{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.mainContent{
    min-height: 99vh;
    align-items: center;
    position: relative;
}

.topMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 10vh;
    top: 0;
    background-color: #ffffffdc;
    z-index: 5;
}

.photo{
    width:auto;
    height: 11vh;
    margin-top: 3vh;
    margin-right: 10vw;
}

h2{
    padding:1vw;
}

a{
    color: black;
}

a:hover{
    color: #511204;
}

.navBar{
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topButton{
    padding: 1vw;
}

.topButton:hover, #selected{
    background-color: #0000002f;
}

.stuckImage{
    /* url("./../assets/testBG.webp")*/
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height:75vh;
    width:99vw;
    top: 0vh;
    left:0vh;
    z-index: 0;
}

.placeHolder{
    position:static;
    height:20vh;
    width:99vw;
    background-color: #00000000;
}

.stuckImgFlexbox{
   position: relative;
   background-color: #E8E8E1;
   z-index: 1;
   min-height:110vh;
}

.stuckImgContent{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   min-height:inherit;
}

footer{
    padding: 2vh;
    text-align: center;
    background-color: #00000000;
}